{block content}
<p>Vítejte v administraci!</p>
</p>
<p n:if="!$user->isInRole('admin')">Nemáte administrátorská oprávnění, požádejte administrátora webu, aby vám je přidělil.</p>
<a n:href="logout">Odhlásit</a>
