{block content}

<a n:href=":Admin:TrainingCenter:default courseLevelId=>null">Návrat do výcvikového střediska</a>
<a n:href=":Admin:Dashboard:default courseLevelId=>null">Návrat do administrace</a>

<h2>Editace etapy výcviku</h2>

{control formCourseLevel}