{block content}

<a n:href=":Admin:TrainingCenter:default courseId=>null">Návrat do výcvikového střediska</a>
<a n:href=":Admin:Dashboard:default courseId=>null">Návrat do administrace</a>

<h2>Editace výcviku</h2>

{control formCourse}


