{block content}
<div><a n:href=":Admin:Dashboard:default">Návrat do administrace</a>
	<div><a n:href="Centers:default">Návrat do ORBAT</a>
		<a n:href="logout">Odhlásit</a></div>
	</br>

	<div>
		<a n:href="editDetachment">Vytvořit odřad</a>
	</div>

	<div>
		{control formCenter}
	</div>

