<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="{$basePath}/css/normalize.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>

{include content}
<p>Vitejte na stránke 3skss</p>
<p><a n:href="Sign:in">Přihlásit se</a></p>

</body>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
{block scripts}
<script src="{webpack bundle.js}"></script>
{/block}
</html>
