parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	- App\Router\RouterFactory::createRouter

	userRepository:
		factory: App\Models\Repository\Table\UserRepository
		inject: true

	- App\Components\Login\FormLogin\FormLoginFactory
	formLogin:
		class: App\Components\Login\FormLogin\FormLogin
		inject: true
		autowired: false
