parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

security:
    roles:
        guest:
        member: [guest]
        admin:


services:
	- App\Router\RouterFactory::createRouter
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	authenticator: App\models\UserManager
	security.authorizator:
		setup:
		- addResource(Admin:Dashboard)
		- addResource(Admin:Users)
		- addResource(Admin:Teams)
		- addResource(Admin:Events)
		- allow(guest, Admin:Dashboard, login)
		- allow(guest, Admin:Dashboard, register)

	userRepository:
		factory: App\Models\Repository\Table\UserRepository
		inject: true

	squadRepository:
		factory: App\Models\Repository\Table\SquadRepository
		inject: true

	rankRepository:
		factory: App\Models\Repository\Table\RankRepository
		inject: true

	roleRepository:
		factory: App\Models\Repository\Table\RoleRepository
		inject: true

	userFormDataSource:
		factory: App\Models\DataSource\Form\UserFormDataSource
		inject: true

